<div class="container">
    <div class="row">
        <div class="col-3 border border-danger text-center ">
            <img src="../../assets/formasGeometricas/circuloCerto.png" class="img-fluid">
        </div>
        <div class="col-3 border border-danger text-center">
            <img src="../../assets/formasGeometricas/trianguloCerto.png" class="img-fluid">
        </div>
        <div class="col-3 border border-danger text-center">
            <img src="../../assets/formasGeometricas/quadradoCerto.png" class="img-fluid">
        </div>
    </div>
    <div class="row">
        <div class="col-3 border border-danger text-center">
            <img src="../../assets/formasGeometricas/retanguloCerto.png" class="img-fluid">
        </div>
        <div class="col-3 border border-danger text-center">
            <img src="../../assets/formasGeometricas/trapesioCerto.png" class="img-fluid">
        </div>
        <div class="col-3 border border-danger text-center">
            <img src="../../assets/formasGeometricas/pentagonoCerto.png" class="img-fluid">
        </div>
    </div>
</div>